---
import Layout from '../layouts/Layout.astro'
import ProjectCard from '../components/ProjectCard.astro'
import { projects } from '../data'

---

<script>
	import InteractiveElement from '../classes/InteractiveElement'
	const elHero: HTMLElement|null = window.document.querySelector('section.hero')
	if (elHero !== null) new InteractiveElement(elHero)
</script>

<Layout title="Arne Decant">
	<main>
		<section class="hero" data-string="">
			<h1>Arne</h1>
		</section>
		<section class="projects">
			<div class="projects-container">
				{ projects.map((project) => <ProjectCard { project } />) }
			</div>
		</section>
	</main>
</Layout>

<style>
	section {
		display: flex;
		flex-direction: column;
		height: 100vh;
		overflow: hidden;
	}

	section.hero {
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		--x: 0px;
		--y: 0px;
		--size: 0px;
	}

	section.hero::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: radial-gradient(circle, var(--color-neutral--darkest) 20%, rgb(102, 51, 238) 30%, var(--color-secondary), var(--color-primary));
		mix-blend-mode: darken;
	}

	section.hero::before {
		content: attr(data-string);
		position: absolute;
		z-index: -1;
		top: 0;
		left: -1rem;
		width: calc(100% + 2rem);
		font-family: "input-mono", monospace;
		font-size: 0.9rem;
		line-height: 1.25;
		word-wrap: break-word;
		line-height: 1.15;
		color: #fff;
		opacity: 0;
		transition: opacity 0.5s ease;
		-webkit-mask-image: radial-gradient(var(--size) circle at var(--x) var(--y), black 20%,rgba(0,0,0,0.25), transparent);
		mask-image: radial-gradient(var(--size) circle at var(--x) var(--y), black 20%, rgba(0,0,0,0.25), transparent);
	}

	section.hero:hover::before {
		opacity: 1;
	}

	section.projects {
		background-color: var(--color-neutral--dark);
		display: flex;
		align-items: center;
		justify-content: center;
    position: relative;
		z-index: 0;
	}

	.projects-container {
		width: 75vw;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(2, 1fr);
		gap: 1rem;
	}

	h1 {
		font-size: 5em;
		color: var(--color-neutral--lightest);
		letter-spacing: 4px;
		z-index: 1;
	}

</style>
