---

interface Props {
  tag: string
}

const { tag } = Astro.props
---

<span>{ tag }</span>

<style>
  span {
    display: inline-flex;
    background-color: var(--color-primary);
    border-radius: 1rem;
    color: var(--color-neutral--lightest);
    padding: 0.1rem 0.5rem;
    font-size: 0.8em;
    line-height: 1.5;
    box-shadow: 0 0 2px var(--color-secondary);
  }
</style>

