---
interface Props {
	title: string;
}

const { title } = Astro.props
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={ Astro.generator } />
		<title>{ title }</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	:root {
		--color-primary: #F92672FF;
		--color-secondary: #8E64FFFF;
    --color-neutral--lightest: #FFFFFFFF;
		--color-neutral--light: #EEEEEEFF;
		--color-neutral: #E6E6E6FF;
		--color-neutral--dark: #23252AFF;
    --color-neutral--darkest: #13151AFF;
	}

  *, *:before, *:after {
    all: unset;
  }

  style, head {
    display: none;
  }

	html {
		font-family: system-ui, sans-serif;
		background: var(--color-neutral--darkest);
    height: 100%;
	}

	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}

	html, main, section, article, h1, h2, h3, div, p {
		display: block;
	}

	p {
		line-height: 1.5;
	}

	a {
		cursor: pointer;
	}
</style>
